<!--  Following tutorial by Miguel Grinberg
https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<!doctype html>
<html>
    <head>
    <link rel="stylesheet" href={{ url_for('static', filename= "styles.css" ) }}>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Title</title>
    {% endif %}
    <div id="status"></div>
    <script>
        const STATUS_URL = "{{ url_for('status') }}";
        const status_div = document.getElementById("status");
        async function checkStatus(url) {
            newStatus = fetch(url)
            .then(response => response.json())
            .then(data => {
            // data is a parsed JSON object
            console.log(data);
            status_div.innerText = data.status;
            if (data.status == "Backend busy"){
                status_div.style.color = "red";
            }
            else if (data.status == "Backend available"){
                status_div.style.color = "green";
            }
            });
        }
        checkStatus(STATUS_URL);
        setInterval(checkStatus, 2500, STATUS_URL);
    </script>
    </head>
    <body>
        <div>
            <a href="{{ url_for('index') }}">Home</a></div>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('user') }}">User Page</a>
            <a href="{{ url_for('upload') }}">Upload images</a>
            <a href="{{ url_for('tune') }}">Tune a model</a>
            <a href="{{ url_for('generate') }}">Generate an image</a>
            <a href="{{ url_for('tasks') }}">See task queue</a></div>
            <a href="{{ url_for('logout') }}">Logout</a>
            <p>Logged in as {{current_user.username}}</p>
            {% endif %}
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>