{% extends "base.html" %}
{% if current_user.is_authenticated %}
  Hi {{ current_user.name }}!
{% endif %}
{% block content %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.models.label }}<br>
                {{ form.models(size=1) }}<br>
                {% for error in form.models.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.promt.label }}<br>
                {{ form.promt(size=64) }}<br>
                {% for error in form.promt.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.input_images.label }}<br>
                {{ form.input_images(size=1) }}<br>
                {% for error in form.input_images.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        <p>{{ form.submit() }}</p>

{% endblock %}        