{% extends "base.html" %}
{% if current_user.is_authenticated %}
Come back later
{% block content %}
<!--  {
            "user" : self.user,
            "type" : self.type,
            "path" : self.path,
            "prompt" : self.prompt,
            "name" : self.name,
            "command" : self.command
        } -->
{% if queue  %}
    {% for key, task in queue.items() %}
    <div>
    <span>type: {{ task["type"] }}</span>
    <span>prompt: {{ task["prompt"] }}</span>
    <span>name: {{ task["name"] }}</span>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}
{% endif %}