{% extends "base.html" %}
{% if current_user.is_authenticated %}
  Hi {{ current_user.name }}!
{% endif %}
{% block content %}

<form method="POST" action="">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=64) }}<br>
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <fieldset>
        {% if form.tuning_images.errors %}
            {% for error in form.tuning_images.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        {% endif %}

        <p>{{ form.tuning_images.label}}</p>
        {% for image in form.tuning_images %}
            <div>
                <img src={{ url_for('static', filename= image.label.text ) }} height="300">
                {{ image() }}
            </div>
        {% endfor %}
    </fieldset>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}