{% extends "base.html" %}

{% block content %}
        <h1>Hello, {{ user.username }}!</h1>
        <p>You are number {{ user.id }}!</p>
        {% if tuning_images %}
            {% for image in tuning_images %}
            <div>
                <img src={{ url_for('static', filename= image.filename ) }} height="300">
            </div>
            {% endfor %}
        {% endif %}

        {% if generated_images %}
        <h1>Generated:</h1>
            {% for image in generated_images %}
            <div>
                <img src={{ url_for('static', filename= 'output/' + image.filename ) }} height="300">
            </div>
            {% endfor %}
        {% endif %}

            <!--  Get base models -->
        {% if models %}
            {% for model in models %}
            <h2>Generate an image</h2>
            <div>
                <form method="post" action="{{ url_for('generate') }}" class="inline">
                    <input type="hidden" name="model_id" value='{{model.id}}'>
                    <button type="submit" name="generate_image" value="submit_value">
                    </button>
                </form>
            </div>
            {% endfor %}
        {% endif %}
        <div>
            <h2>Tuning image submission form</h2>
            <form method="post" enctype="multipart/form-data" action="" class="inline"></form>
        </div>
        <div>
            <h2>Image generation form</h2>
            <form method="post" enctype="multipart/form-data" action="{{ url_for('generate') }}" class="inline">
                <input type="hidden" name="model_id" value='2'>
                <button type="submit" name="generate_image" value="submit_value">
                </button>
              </form>
        </div>
{% endblock %}